
.father {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.border {
    border: 1px solid black;
}

.header {
    background-color: #ccd9e1;
    height: 200px;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.headerBlue {
    background-color: #102b3e;
    width: 130px;
    height: 50px;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}
.headerBlue:hover{
    background-color: white;
    color: #102b3e;
    border: 1px solid black;
}

.headerSearch {
    color: black;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
font-size: 40px;
    width: 150px;
    height: 50px;
    border-radius: 10%;
    margin-left: 400px;

}

.fa-magnifying-glass:hover {

    color: white;
    cursor: pointer;
}
.fa-bars:hover {

    color: white;
    cursor: pointer;
}
.content {
    background-color: #102b3e;
    height: 400px;
    width: 900px;
    display: flex;
    align-items: center;
    position: relative;
}

.cb1 {
    margin-left: 160px;
}

.cb2 {
    margin: 0 50px 0 50px;
}

.contentBox {
    border-radius: 15%;
    height: 150px;
    width: 150px;
    background-color: mediumpurple;
    margin-top: 400px;
}

.contentBox:hover {
    background-color: white;
}

.bottom {
    background-color: #ccd9e1;
    height: 200px;
    width: 900px;
}